<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/beso"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/beso_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NiceStart.Light.ActionBar"
        tools:targetApi="34" >
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.NiceStart.Light.NoActionBar"/>

        <!-- android:theme: LO ADQUIERE DEL APPLICATION -->
        <!-- parentActivityName: DEFINE EL PADRE PARA CUANDO VOLVAMOS ATRAS -->
        <activity
            android:name=".Register"
            android:exported="false"
            android:parentActivityName=".Login" />

        <!-- <intent-filter>: FORZAMOS QUE LANCE PRIMERO EL ACTIVITY QUE LO TENGA -->
        <!-- android:theme: EN LOGIN LANZAMOS EL TEMA SIN ACTION BAR -->
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.NiceStart.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BothTinder"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".GirlTinder"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".BoyTinder"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>